<!DOCTYPE html>
<html>
<head>
	<title>Reservations</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		* {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}
        body {
            background-color: #e68f8f;
            color: rgb(0, 0, 0);
      }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{url_for('home')}}">MOFF'S</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('home')}}">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Contact</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('booking')}}">Book a Table</a>
			</li>
		  </ul>
		</div>
	  </nav>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-8">
				<h1 class="text-center mt-5 mb-4">Reservations</h1>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Date</th>
							<th>Time</th>
							<th>Number of Guests</th>
                            <th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for reservation in reservations %}
						<tr>
							<td>{{ reservation[1] }}</td>
							<td>{{ reservation[2] }}</td>
							<td>{{ reservation[3] }}</td>
							<td>{{ reservation[4] }}</td>
							<td>{{ reservation[5] }}</td>
							<td>{{ reservation[6] }}</td>
							<td>
								<a href="/reservation_delete/{{ reservation[0] }}" class="btn btn-danger btn-sm">Delete</a>
								<a href="/reservation_update_one/{{ reservation[0] }}" class="btn btn-primary btn-sm">Update</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					
				</table>
				<div class="text-center">
					<a href="{{ url_for('booking') }}" class="btn btn-primary">Make a reservation</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Include Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
